<a asp-action="Index">Go back</a> | <a asp-action="Add_Category">Create New</a>
<table class="table">
    <thead>
    <tr>
        <th>
            Category Name
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var category in ViewBag.Categories)
    {
        <tr>
            <td>
                @category.CategoryName
            </td>
            <td>
                <a asp-controller="Documentation" asp-action="Categories_Delete" asp-route-id="@category.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>