@{
    Layout = "_LayoutNoTitle";
    ViewData["Title"] = $"Edit - {ViewBag.t}";
}
@model Documentation

<span class="pull-right"><a asp-action="Index">Back to List</a></span>

<form asp-action="Edit" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id"/>
    <input type="hidden" asp-for="FileName"/>
    <input type="hidden" asp-for="CgId"/>
    <div class="form-group">
        <div class="col-md-10">
            <label asp-for="Title" class="control-label">Title:</label>
            <input asp-for="Title" class="form-control"/>
            <span asp-validation-for="Title" class="text-danger" />
        </div>
    </div>
    <div style="height: 5em"></div>
    <div class="form-group">
        <div class="col-md-10">
            <textarea id="editor" name="editor" rows="10" cols="80"></textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" value="Save" class="btn btn-default"/>
        </div>
    </div>
</form>

<script src="~/plugins/ckeditor/ckeditor.js"></script>
<script type="text/javascript">
    CKEDITOR.editorConfig = function(config) {
        config.toolbarGroups = [
            { name: 'clipboard', groups: ['undo', 'clipboard'] },
            { name: 'editing', groups: ['find', 'selection', 'spellchecker', 'editing'] },
            { name: 'links', groups: ['links'] },
            { name: 'insert', groups: ['insert'] },
            { name: 'forms', groups: ['forms'] },
            { name: 'tools', groups: ['tools'] },
            { name: 'document', groups: ['mode', 'document', 'doctools'] },
            { name: 'others', groups: ['others'] },
            '/',
            { name: 'basicstyles', groups: ['basicstyles', 'cleanup'] },
            { name: 'paragraph', groups: ['list', 'indent', 'blocks', 'align', 'bidi', 'paragraph'] },
            { name: 'styles', groups: ['styles'] },
            { name: 'colors', groups: ['colors'] },
            { name: 'about', groups: ['about'] }
        ];
        config.extraPlugins = 'codeSnippet';
        config.removeButtons = 'Underline,Subscript,Superscript';
    };
    CKEDITOR.replace('editor');
    CKEDITOR.on("instanceReady",function(event) {
            CKEDITOR.instances.editor.setData(`@Html.Raw(ViewBag.Content)`);
        });
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

