@model MainSite.Models.CompaniesViewModels.AddCredentialsViewModel

@{
    ViewData["Title"] = $"Add credentials to {Model.Company.CompanyName} {Model.Vpn.Type}";
}
<form method="post">
    <input name="vId" type="hidden" hidden value="@Model.Vpn.Id"/>
    <div class="form-group">
        <label>Username:</label><br />
        <input style="width: 75%" class="form-control" required type="text" name="usr" />
    </div>
    <div class="form-group">
        <label>Password:</label><br />
        <input style="width: 75%" class="form-control" required type="text" name="pwd">
    </div>
    <div class="form-group">
        <div>
            <input type="submit" value="Submit" class="form-actions btn btn-default" />
        </div>
    </div>
</form>