@{
    ViewData["Title"] = "Add Vpn Connection";
}
<form method="post">
    <input type="hidden" name="cid" hidden value="@ViewBag.cid"/>
    <div id="Company" class="form-group">
        <label>Company:</label> <br />
        <input disabled name="company" type="text" value="@ViewBag.company" style="width: 75%" class="form-control" />
    </div>
    <div id="Address" class="form-group">
        <label>Address:</label> <br />
        <input name="address" type="text" style="width: 75%" class="form-control"/>
    </div>
    <div id="Type" class="form-group">
        <label>Type:</label> <br />
        <input name="type" type="text" style="width: 75%" class="form-control" />
    </div>
    <div class="form-group">
        <div>
            <input type="submit" value="Submit" class="form-actions btn btn-default" />
        </div>
    </div>
</form>