@{
    ViewData["Title"] = "Details - " + ViewBag.Title;
}
@inject UserManager<ApplicationUser> UserManager
@{
    var user = await UserManager.FindByIdAsync(ViewBag.id);
    <b>User: </b>
    @user.UserName
    <u>
        <b>Claims:</b>
    </u>
    <br/>
    var claims = ViewBag.claims;
    <select id="claims">
        @foreach (var claim in claims)
        {
            <option value="claim.ClaimType"></option>
            <a asp-action="Claim_Delete" asp-all-route-data="@claims.IndexOf(claim)"></a>
        }
    </select>
}
<script>

    $(document)
        .ready(function hideClaim() {
            var x = document.getElementById('claim');
            if (x.style.display === 'none') {
                x.style.display = 'block';
            } else {
                x.style.display = 'none';
            }
        });
    $("#claims option:selected");
</script>