@{
    ViewBag.Title = @ViewBag.Title;
}
<form method="post">
    <input type="text" name="cid" value="@ViewBag.cid" hidden/>
    <input type="text" name="mid" value="@ViewBag.mid" hidden/>
    <div class="form-group">
        <label value="Product">Product:</label><br />
        <select style="width: 75%;" onchange="getVal(this);" name="options" asp-items="@(new SelectList(Model, "Value", "Text"))"></select>
    </div>
    <div name="otherProductName" id="ProductName">
    </div>
    <div id="ProductVersion" class="form-group">
        <label value="ProductVersion">Version:  </label><br/>
        <input style="width: 75%" class="form-control" name="productVersion" type="text" />
    </div>
    <div class="form-group">
        <label>License Key</label><br />
        <input type="text" style="width: 75%" class="form-control" name="lKey" />
    </div>
    <div class="form-group">
        <label>Start - Expires:</label><br />
        <div>
            <div class="input-daterange input-group" id="datepicker">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                <input style="width: 75%" type="text" class="form-control" name="daterange" required/>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div>
            <input type="submit" value="Submit" class="form-actions btn btn-default"/>
        </div>
    </div>
</form>

<script type="text/javascript">
    window.onunload = function () { }; 
    $ProductNameForm = '<label Value="otherName">Product Name: </label> ' +
        '<input style="width: 75%" class="form-control" type="text" name="OtherProductName" required/>';

    $(document).ready(function () {
        $('input[name="daterange"]').daterangepicker({
            "locale": {
                "format": "DD/MM/YYYY",
                "separator": " - ",
                "applyLabel": "Apply",
                "cancelLabel": "Cancel",
                "fromLabel": "From",
                "toLabel": "To",
                "customRangeLabel": "Custom",
                "weekLabel": "W",
                "daysOfWeek": [
                    "Su",
                    "Mo",
                    "Tu",
                    "We",
                    "Th",
                    "Fr",
                    "Sa"
                ],
                "monthNames": [
                    "January",
                    "February",
                    "March",
                    "April",
                    "May",
                    "June",
                    "July",
                    "August",
                    "September",
                    "October",
                    "November",
                    "December"
                ],
                "firstDay": 1
            }
        });
    });

    function getVal(sel) {
        const doc = document.getElementById("ProductName");
        if (sel.value === "__") {
            doc.innerHTML = $ProductNameForm;
            doc.setAttribute("class", "form-group");
        } else {
            doc.innerHTML = "";
        }
    };
</script>